.App {
  background-image: url('../public/images/restbg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.App h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px;
}

.App h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.App form {
  background-color: rgba(151, 89, 18, 0.3);
  text-align: center;
  width: 400px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
}

.App form input {
  border: none;
  border-radius: 7px;
  width: 70%;
}

input {
  padding-left: 20px !important;
}

.btnAct Button {
  color: grey !important;
  font-weight: 500;
  border: none;
  padding: 2px 80px;
  border-radius: 10px;
}

.btnAct:hover {
  background-color: #975912;
  color: #ffffff;
}

.App hr {
  color: #fff;
  font-weight: 900;
}